@tailwind base;
@tailwind components;

html {
  font-family: "Roboto", sans-serif;
  background-color: #fff2f2;
}

.table {
  @apply w-full border-gray-500/50 border;
}

.th {
  @apply bg-secondary-color text-left border-b border-gray-500/50 p-4 text-xl font-bold;
}

.td {
  @apply bg-secondary-color text-left border-b border-gray-500/50 p-4;
}

.input {
  @apply rounded-lg border border-gray-500/70 bg-secondary-color p-2 text-black;
}

.input:focus {
  @apply border-primary-color;
}

.input::placeholder {
  @apply text-gray-500;
}

.form-group {
  @apply flex flex-col;
}

.label {
  @apply text-lg font-bold my-2;
}

.btn {
  @apply rounded-lg bg-primary-color text-white px-8 py-2 font-bold;
}

.select {
  @apply rounded-lg text-white font-bold bg-primary-color px-4 py-2;
}

.dayMenu::-webkit-scrollbar {
  border-radius: 10px;
  width: 10px;
  height: 4px;
  background-color: #fff;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

.dayMenu::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

@tailwind utilities;
